<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="recordbook">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="../../css/bootstrap.css" rel="stylesheet">
  <link href="../../css/bootstrap-theme.css" rel="stylesheet">

  <!-- Eigene CSS -->
  <link href="../../css/components/_all.css" rel="stylesheet">
  <link href="../../css/components/_dash.css" rel="stylesheet">

  <title>RecordBook</title>
</head>