<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="instructorController.php?click=enterprice">Betrieb</a>  <!-- rel pfad zu instructorController.php  -->
        </li>
        <li role="presentation"><a href="instructorController.php?click=school">Schule</a>
        </li>
        <li role="presentation"><a href="instructorController.php?click=extern">Extern</a>
        </li>
        <li role="presentation">
           <a href="instructorController.php?click=add"><span class="glyphicon glyphicon glyphicon-plus"></span></a></li>
      </ul>
    </div>
  </div>
</div>
</body>

