    <footer class="navbar navbar-default navbar-fixed-bottom" style="background: transparent">
      <div class="row">
        <div class="col-md-12 col-md-offset-10">
          <ul class="nav nav-tabs">
            <li role="presentation"><a href="<?php echo $_SERVER['DOCUMENT_ROOT'] . 'impressum.php' ?>">Impressum</a></li>
            <li role="presentation"><a href="<?php echo $_SERVER['DOCUMENT_ROOT'] . 'datenschutz.php' ?>">Datenschutz</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>