<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Berichtsheft-Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="../../Public/css/bootstrap.css" rel="stylesheet">
    <link href="../../Public/css/bootstrap-theme.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../Public/js/bootstrap.min.js"></script>
</head>



<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Berichtsheft-Tool</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#overview">Übersicht</a></li>
                <li><a href="#settings">Einstellungen</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Berichtsheft <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Editieren</a></li>
                        <li><a href="#">Drucken</a></li>
                        <li><a href="#">Kalender übersicht</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="form" method="post" action="?<?php header('location: Resources/Private/layouts/dashboard.html'); ?>">
                <div class="form-group">
                    <input type="text" placeholder="Benutzer" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
            <a href="?case=register">Registrieren</a>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="main media-body">
    <div class="register">
        <?php if(empty($fb)): ?>
        <form method="post" action="#" class="form-group">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Passwort" />
            <input type="password" name="hidden_password" placeholder="Passwort bestätigen" />
            <input type="text" name="email" placeholder="email" />
            <input type="text" name="first_name" placeholder="Vorname" />
            <input type="text" name="last_name" placeholder="Nachname" />
            <input type="date" name="birthday" placeholder="Geburtstag" />
            <input type="text" name="adress" placeholder="Adresse" />
            <input type="text" name="PLZ" placeholder="PLZ" />
            <input type="text" name="place" placeholder="Ort" />
            <button type="submit">Registrieren</button>
        </form>
        <?php elseif($fb === true): ?>
        <h2 style="color: #00ff00">Sie wurden erfolgreich registriert.<br/>Willkommen im Berichtstoolheft!</h2>
        <p style="color: lime">Wir wünschen eine erfolgreiche Ausbildung.</p>
        <?php endif; ?>
    </div>
</div>
</body>
</html>