<body>
  <label>
    <h2>Allgemeine Informationen</h2>
    <p>Ausbildungsnachweis Nummer:</p>
    <p>Name des der Auzubildenden</p>
    <p>Ausbildungsberuf</p>
  </label>

  <table class="recordTable">
    <tr>
      <th style="width: 20%">Tag</th>
      <th style="width: 60%; text-align: left">Betriebliche Tätigkeiten, Unterweisungen,
        Lehrgespräche, sonstige Schulungen, Themen des Berufsschulunterrichts,
        ggf. Fehlzeiten
      </th>
      <th style="width: 20%">Studen</th>
    </tr>
    <tr>
      <td style="width: 20%">Donnerstag 27.07.2017</td>
      <td style="width: 60%; text-align: left">Einarbeitung in TCPDF</td>
      <td style="width: 20%">4</td>
    </tr>


