body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #0f0f0f;
  background-image: url("../img/img/Background_Ausbilder_Unterseite.jpg");}

option{
  background-color: #242c2e;
}

li[role="presentation"]{
  color: #fff;}

.formInput {
  background: #3c3c3c;
  background-color: transparent;
  color: #fff;
}



.popover {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #0f0f0f;
  background-color: #fff;
}

.popover h4{
  background-color: #2aabd2;
}

.inputInstructors  {
  background-color: transparent !important;
  color: #fff;
}

input[id="instructorId"]{
  visibility: hidden;
}

#jumbDrop{
  border: solid 1px;
  border-color: #fff;
  min-height: 140px;
}

