html {
    height: 100%;
    width: 100%;
    font-size: 100%;
}


body {
width: 100%;
height: 100%;
}

/* begin profile-box */
div.profile-box::before {
    border-collapse: collapse;
    border-top: 2rem;
}

div.profile-box {
    width: 10rem;
    min-height: 14rem;
    background-color: #fdfdfd;

    display: block;

    position: absolute;
    top: 4.5rem;
    left: -5rem;
}

div.profile-box > div.img-box {
    height: 125px;
    width: 125px;
}

div.profile-box > div.img-box > img {
    height: 100%;
    width: 100%;
}

div.profile-box > ul span {
    background-color: #2aabd2;
    color: #eeeeee;
}

div.profile-box > ul li {
    list-style-type: none;
}

div.profile-box a {
    text-decoration: none;
    color: #222;
}
/* end profile-box */

div.main div.container {
    width: 40rem;
    min-height: 40rem;
    margin: auto;

    margin-top: 5rem;
    padding: 1rem;
    border-radius: 1rem;
}

div.form-block {
    display: inline-block;
}

div.user-field {
    float: right;
    margin: 0 1rem;
    position: relative;
}

div.user-field > span.username > a {
    text-decoration: none;
    color: #d5d5d5;

}

div.board > div.container label {

}

div.board > div.container textarea {
    height: 15rem;
    width: 30rem;
    margin: 2rem 1rem;
    padding: 0.5rem;

    border-radius: 1rem;
    border: 0.2rem inset;
}