html {
    height: 100%;
    width: 100%;
    font-size: 100%;
}


body {
width: 100%;
height: 100%;
}

ul {
    list-style-type: none;
}

button#profile {
    height: 4.4rem;
    width: 6.1rem;
}

button#profile img {

    width: 3rem;
    height: 2.7rem;
}

button#profile span#username {
    color: #EEdd88;
    font-size: 1.5rem;
    position: absolute;
    left: 1rem;
    top: 2rem;
    z-index: 5;


}

/* begin profile-box */
/*div.profile-box::before {
border-collapse: collapse;
    background: none;
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 80%;
    margin-left: -10px;
    content:'';
    width: 0;
    height: 0;
    border-bottom: solid 10px #eee;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}*/



/*div#arrow {
    display: block;
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    content:'';
    width: 0;
    height: 0;
    border-bottom: solid 10px #eee;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}*/

div.dropdown > div.dropdown-menu#arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;  /* left arrow slant */
    border-right: 5px solid transparent; /* right arrow slant */
    border-bottom: 5px solid #eee; /* bottom, add background color here */
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 90%;
    left: 10%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 0;
    padding: 0 0;
    margin: 0 0 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

div.profile-box {
width: 10rem;
min-height: 14rem;
background-color: #fdfdfd !important;

display: block;

position: absolute;
top: 4.5rem;
left: -5rem;
}

div.profile-box > div.img-box {
height: 125px;
width: 125px;
}

div.profile-box > div.img-box > img {
height: 100%;
width: 100%;
}

div.profile-box > ul span {
background-color: #2aabd2;
color: #eeeeee;
}

div.profile-box a {
    text-decoration: none;
    color: #222;
}
/* end profile-box */

div.main div.container {
    width: 40rem;
    min-height: 40rem;
    margin: auto;

    margin-top: 5rem;
    padding: 1rem;
    border-radius: 1rem;
}

div.form-block {
    display: inline-block;
}

div.user-field {
    float: right;
    margin: 0 1rem;
    position: relative;
}

div.user-field > span.username > a {
    text-decoration: none;
    color: #d5d5d5;

}


/* images */
div.main div.img-box {
width: 5rem;
height: 5rem;
}

div.main div.img-box img {
    width: 100%;
    height: 100%;
}

div.board > div.container label {

}

div.board > div.container textarea {
    height: 15rem;
    width: 30rem;
    margin: 2rem 1rem;
    padding: 0.5rem;

    border-radius: 1rem;
    border: 0.2rem inset;
}
/*

!* responsive *!
@media only screen and (max-width: 150rem){
    body {
        width: 150rem;
    }
}*/
