<div class="container">
  <form method="post" action="loginController.php?">
    <div class="form-group">
      <label class="control-label" for="name">Name:</label>
      <input type="text" id="name" placeholder="Name" class="form-control"></input>
    </div>
    <div class="form-group">
      <label class="control-label" for="vorname">Vorname:</label>
      <input type="text" id="vorname" placeholder="Vorname" class="form-control"></input>
    </div>
    <div class="form-group">
      <label class="control-label" for="password">Passwort:</label>
      <input type="password" id="password" placeholder="" class="form-control"></input>
    </div>
    <div class="form-group">
      <label class="control-label" for="mail">Mail</label>
      <input type="email" id="mail" placeholder="example@exinit.de" class="form-control"></input>
    </div>


    <div class="form-group">
      <label class="control-label" for="adress">Adresse</label>
      <input type="text" id="adress" placeholder="Adresse" class="form-control"></input>
    </div>
    <div class="form-group">
      <label class="control-label" for="plz"></label>
      <input type="text" id="plz" placeholder="PLZ" class="form-control"></input>
    </div>
    <div class="form-group">
      <label class="control-label" for="place"></label>
      <input type="text" id="place" placeholder="Stadt" class="form-control"></input>
    </div>
  </form>
</div>