<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Berichtsheft-Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="<?php echo PUB_PATH; ?>css/bootstrap.css" rel="stylesheet">
    <link href="<?php echo PUB_PATH; ?>css/bootstrap-theme.css" rel="stylesheet">
    <link href="<?php echo PUB_PATH; ?>css/main.css" rel="stylesheet">
    <link href="<?php echo PUB_PATH; ?>css/record.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="<?php echo PUB_PATH; ?>js/bootstrap.min.js"></script>


    <!-- Eigene Scripts-->
    <script src="<?php echo PUB_PATH; ?>js/recordbook.js"></script>


  </head>
  <body style="background-image: url(img/img/Berichtsheft_Seite_BG)">

  <div class="container">
    <div class="row" style="background: transparent">
      <div class="col-md-12 col-md-offset-11 dropdown">
        <!--<div class="dropdown-menu" id="arrow"></div>-->
        <div class="profile-box dropdown-menu" style="top: 140%; background: url(img/img/Profil_Hover.png)">
          <div class="img-box"><img src="img/img/Profilbild_elisa_meier.png" /></div>
          <span><?php echo !empty($_SESSION['user']['username']) ? $_SESSION['user']['first_name'].' '.$_SESSION['user']['last_name'] : '<i>no user</i>'; ?></span>
          <ul>
            <li><span><?php if(!empty($_SESSION['user']['career_name'])){echo $_SESSION['user']['career_name'];} ?></span></li>
            <li><a href="<?php echo RP; ?>index.php?case=messenger"><span>Nachrichten</span></a></li>
            <li><a href="<?php echo RP; ?>index.php?case=logged"><span>Ausbilder</span></a></li>
          </ul>
        </div>
        <button type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown" id="profile" onclick="" aria-label="Links ausrichten" style="background: transparent; position:relative;">
          <span aria-hidden="true"><img src="<?php echo PRI_PATH; ?>img/Icon/Profil_Icon.png"></span>
          <span class="username"><?php echo empty($_SESSION['user']['username']) ? 'Elisa' : $_SESSION['user']['username']; ?></span>
          <!--<span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>-->
        </button>
        <button type="button" class="btn btn-default" aria-label="Links ausrichten" style="background: transparent">
          <a href="<?php echo RP; ?>index.php?case=settings"><span aria-hidden="true"><img src="/Resources/Private/Layouts/img/Icon/Einstellung_Icon.png"></span></a>
          <!--<span class="glyphicon glyphicon glyphicon-asterisk" aria-hidden="true"></span>-->
        </button>
        <button type="button" class="btn btn-default" aria-label="Links ausrichten" style="background: transparent">
          <a href="<?php echo RP; ?>index.php?case=logout"><span aria-hidden="true"><img src="/Resources/Private/Layouts/img/Icon/AnmeldenAbmelden_icon" </span></a>
          <!--<span class="glyphicon glyphicon glyphicon-off" aria-hidden="true"></span>-->
        </button>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default" role="navigation" style="background: transparent;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<?php echo RP; ?>index.php?case=logged"><span style="font-size: 3rem;"><b style="color: #eeeeee;">Record</b>Book</span><br/>
            <span style="font-size: 1.1rem; margin-left: 3rem;">Berichtsheft-Tool</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="margin-left: 5rem">
          <ul class="nav navbar-nav">
            <li><a href="#overview">Übersicht</a></li>
            <li><a href="#settings">Einstellungen</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Berichtsheft <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<?php echo PUB_PATH; ?>index.php?case=edit">Editieren</a></li>
                <li><a href="#">Drucken</a></li>
                <li><a href="#">Kalender übersicht</a></li>
              </ul>
            </li>
          </ul>
          <div class="user-field dropdown">
            <ul class="dropdown-menu">
              <li><a href="<?php echo RP; ?>index.php?case=logged">home</a></li>
              <li><a href="<?php echo RP; ?>index.php?case=profile">Profil</a></li>
              <li><a href="<?php echo RP; ?>index.php?case=status">Status</a></li>
              <li><a href="<?php echo RP; ?>index.php?case=settings">Einstellungen</a></li>
              <li><hr/></li>
              <li><a href="<?php echo RP; ?>index.php?case=logout">Logout</a></li>
            </ul>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>




