<div class="container">
  <div class="row">
    <div class="col-md-offset-2">
      <form id='instructorForm' method='post' action="">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="instructorName">Name</label>
              <input type="text" class="form-control formInput" id="instructorName" name="instructorName"></input>
            </div>
            <div class="form-group">
              <label for="instructorVorname">Vorname</label>
              <input type="text" class="form-control formInput" id="instructorVorname" name="instructorVorname"></input>
            </div>
            <div class="form-group">
              <label for="instructorRolle">Rolle</label>
              <input type="text" class="form-control formInput" id="instructorRolle" name="instructorRolle"></input>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="location">Location</label>
              <select class="form-control formInput" id="location" name="location">
                <option value="Betrieb" class="location">Betrieb</option>
                <option value="Schule" class="location">Schule</option>
                <option value="Extern" class="location">Extern</option>
              </select>
            </div>
            <div class="form-group">
              <label for="content">Kurzbeschreibung</label>
              <textarea class="form-control formInput" id="content" name="content" rows="6"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" formaction="instructorController.php?click=newSubmit" id="submitB" class="btn btn-default formInput">
                <span class="glyphicon glyphicon glyphicon-ok formInput" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default">
                <a href="instructorController.php"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span></a>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>